<div class="d-flex flex-column min-vh-100 align-items-stretch">
  <nav class="navbar navbar-expand-md navbar-dark header-footer-bg py-3 yellow-border-bottom">
    <a class="navbar-brand d-flex align-items-center cursor-pointer" routerLink="/">
      <img src="assets/terminal.png" width="60" height="60" class="ml-md-4 mr-2">
      <span class="navbar-brand-name">Futurity</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" style="color: red"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mr-md-4">
          <button routerLink="/login" class="btn col-md-12 mt-3 mt-md-0">Login</button>
        </li>
        <li class="nav-item">
          <button routerLink="/singup" class="btn col-md-12 mt-4 mb-2 my-md-0">Sign up</button>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid d-flex h-100 p-0 flex-grow-1 align-items-center justify-content-center yellow-border-bottom">
    <router-outlet></router-outlet>
  </div>

  <div class="container-fluid footer-height d-flex justify-content-center align-items-center">
    <div class="footer-text">
      © 2021 Futurity team
    </div>
  </div>
</div>
