<div class="container-fluid content-container yellow-border-bottom">
  <div class="row mt-5 left-part-container">
    <div class="col-12 col-md-7">
      <div class="row ml-0 mr-0 ml-md-5 fixed-height flex-lg-column justify-content-md-start justify-content-center">
        <h1 class="content-title">Futurity</h1>
        <p class="col-12 col-lg-9 p-sm-0 mt-sm-4 mt-3 content-text">
          Start with a Futurity board, lists, and cards. Customize and expand with more
          features. Manage projects, organize tasks all in one place.
        </p>
      </div>

      <form class="row ml-0 ml-lg-5 mt-lg-5 email-input" [formGroup]="emailInputGroup" (ngSubmit)="onSubmit()">
        <div class="position-relative">
          <input class="terminal-input" type="text" required formControlName="email" id="email">
          <label class="label-input">Email</label>
          <span class="bar"></span>
          <div class="term">></div>
        </div>

        <button type="submit" class="btn content-button"
                [disabled]="emailInputGroup.invalid || disableJoinButton"
                [ngStyle]="{
                  'pointer-events': emailInputGroup.invalid ? 'none' : 'auto'
                }"
        >
          Join us
        </button>
      </form>
    </div>

    <div class="col-5 mt-n3 d-none d-md-block">
      <img class="img-fluid" src="assets/code.png">
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row justify-content-around my-4 flex-lg-row flex-column align-items-lg-start align-items-center">

    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-8 mt-3 mt-lg-0">
      <div class="row justify-content-center">
        <img class="img-fluid sub-content-image-width" src="assets/list.png">
      </div>
      <div class="row text-center mt-3 mt-xs-4 sub-content-text justify-content-center">
          Create tasks for the most structured approach to problem solving
      </div>
    </div>

    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-8 mt-4 mt-lg-0">
      <div class="row justify-content-center">
        <img class="img-fluid sub-content-image-width" src="assets/abstract.png">
      </div>
      <div class="row text-center mt-3 mt-xs-4 sub-content-text justify-content-center">
        Review and comment on your solutions to keep the project readable
      </div>
    </div>

    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-8 mt-4 mt-lg-0 mb-3 mb-sm-0">
      <div class="row justify-content-center">
        <img class="img-fluid sub-content-image-width" src="assets/clock.png">
      </div>
      <div class="row text-center mt-3 mt-xs-4 sub-content-text justify-content-center">
        Estimate time and set deadlines to get the most out of yourself
      </div>
    </div>

  </div>
</div>
