.content-block {
  margin-top: 70px;
}

input {
  font-size: 22px;
  border: none;
  border-bottom: 1px solid #ccc;
  background: inherit;
  color: #ccc;
  height: 38px;
  width: 300px;
  padding: 0;
}

input:focus {
  outline: none;
}

.label-input {
  position: absolute;
  top: 8px;
  left: 0;
  pointer-events: none;
  transition: 0.2s ease all;
  color: #999;
  font-size: 18px;
}

input:focus ~ .label-input {
  color: #FFFF00;
}

input:focus ~ .label-input, input:valid ~ .label-input {
  top: -17px;
  font-size: 14px;
}

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before, .bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 0;
  background: #FFFF00;
  position: absolute;
  transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

.term {
  font-size: 28px;
  color: #ccc;
  top: 0;
  left: -25px;
  position: absolute;
  cursor: default;
  transition: .3s;
  display: inline;
}

input:focus ~ .term {
  color: #FFFF00;
  left: -35px;
}

input:valid ~ .term {
  left: -25px;
}

.content-title {
  color: #FFFF00;
  font-weight: bold;
  font-size: 54px;
}

.content-text {
  color: #FFFF00;
  font-size: 32px;
}

.content-button {
  width: 150px;
  margin-left: 50px;
}

.sub-content-image-width {
  width: 100px;
}

.sub-content-text {
  color: #FFFF00;
  font-size: 22px;
}

.content-container {
  padding-bottom: 30px;
}

@media (max-width: 1140px) {
  .content-text {
    font-size: 26px;
  }

  .content-title {
    font-size: 48px;
  }

  .content-container {
    padding-bottom: 50px;
  }

  .sub-content-text {
    font-size: 20px;
  }

  .sub-content-image-width {
    width: 80px;
  }
}

@media (max-width: 992px) {
  .email-input {
    width: calc(100vw - 30px);
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-right: 0;
  }

  .content-button {
    margin-left: 0;
    margin-top: 30px;
  }

  .left-part-container {
    height: 500px;
  }

  .fixed-height {
    height: 60%
  }

  .content-text {
    font-size: 22px;
  }

  .fixed-height {
    height: auto;
  }

  .left-part-container {
    height: 430px;
  }
}

@media (max-width: 768px) {
  .email-input {
    position: static;
    margin-top: 50px;
  }

  .content-text {
    text-align: center;
  }

  .content-title {
    font-size: 38px;
  }

  .left-part-container {
    height: 350px;
  }
}

@media (max-width: 576px) {
  input {
    width: 250px;
  }

  .content-text {
    padding: 0 10px;
  }

  .email-input {
    margin-top: 20px;
  }

  .left-part-container {
    height: 400px;
  }
}
