.btn {
  width: 160px;
}

.terminal-input {
  width: 100%;
}

.input-width {
  width: 70%;
}

.alert {
  width: 90%;
}

.link {
  cursor: pointer;
  color: #555557;
}

.link:hover {
  color: #1b1e21;
}

@media (max-width: 768px) {
  .btn {
    width: 120px;
  }
}

@media (max-width: 576px) {
  .input-width {
    width: 85%;
  }

  .alert {
    width: 100%;
  }
}
