.btn {
  width: 160px;
}

.terminal-input {
  width: 100%;
}

.input-width {
  width: 70%;
}

@media (max-width: 768px) {
  .btn {
    width: 120px;
  }
}

@media (max-width: 576px) {
  .input-width {
    width: 85%;
  }
}
