<div class="container-fluid p-4">
  <div class="card">
    <form class="card-body d-flex flex-column align-items-center">

      <div class="avatar-wrapper mt-1 mt-sm-3">
        <img class="img-fluid avatar" src="assets/user.png">
        <div class="upload-file-button">
          <img class="img-fluid" src="assets/plus.png">
        </div>
        <input class="upload-file" type="file">
      </div>

      <div class="upload-avatar-text">Choose your avatar</div>

      <div class="position-relative mt-3 input-width">
        <input class="terminal-input" type="text" required formControlName="name" id="name">
        <label class="label-input">What should we call you?</label>
        <span class="bar"></span>
        <div class="term">></div>
      </div>

      <div class="position-relative input-width">
        <input class="terminal-input" type="text" required formControlName="password" id="password">
        <label class="label-input">Password</label>
        <span class="bar"></span>
        <div class="term">></div>
      </div>

      <div class="position-relative input-width">
        <input class="terminal-input" type="text" required formControlName="confirmPassword" id="confirmPassword">
        <label class="label-input">Confirm password</label>
        <span class="bar"></span>
        <div class="term">></div>

        <label class="b-contain mt-3">
          <span>Show passwords</span>
          <input type="checkbox">
          <div class="b-input"></div>
        </label>
      </div>

      <div class="mb-1 mb-sm-3 mt-3 mt-sm-4">
        <button type="submit" class="btn mx-0">Register</button>
      </div>
    </form>
  </div>
</div>
