body {
  background: #282c35;
}

.yellow-border-bottom {
  border-bottom: 2px solid #FFFF00;
}

.cursor-pointer {
  cursor: pointer;
}

.btn {
  min-width: 120px;
  border-radius: 0;
  margin-right: 10px;
  border-color: #FFFF00;
  color: #FFFF00;
  font-weight: bolder;
  box-shadow: none;
}

.btn:hover {
  color: #232129;
  background: #FFFF00;
  transition: .6s;
}
