@import "app/shared/styles/terminal-input.css";
@import "app/shared/styles/button.css";
@import "app/shared/styles/checkbox.css";
@import "app/shared/styles/auth-card.css";
@import "app/shared/styles/file-uploader.css";

body {
  background: #282c35;
}

a {
  text-decoration: none !important;
}

.yellow-border-bottom {
  border-bottom: 2px solid #FFFF00;
}

.cursor-pointer {
  cursor: pointer;
}

.alert {
  margin-bottom: 40px;
}

.error-message {
  color: #860600;
  font-size: 16px;
  display: inline-block;
  margin-top: 5px;
}
