@import "styles/terminal-input.css";
@import "styles/button.css";

body {
  background: #282c35;
}

.yellow-border-bottom {
  border-bottom: 2px solid #FFFF00;
}

.cursor-pointer {
  cursor: pointer;
}
