<div class="container-fluid px-5 d-flex align-items-center justify-content-center mt-5 flex-wrap">
  <div class="card mx-5 mb-5" *ngFor="let project of projects">
    <img class="card-img-top" [src]="project.imageUrl">
    <div class="card-body p-0">
      <div class="card-title text-center w-100 py-1 mb-0 text-nowrap overflow-hidden text-truncate cursor-pointer" [ngClass]="{
        'px-2': project.title.length > DESCRIBED_TEXT_LENGTH
      }" [ngbTooltip]="project.title.length > DESCRIBED_TEXT_LENGTH ? project.title : null">
        {{project.title}}
      </div>
      <p class="card-text text-center p-2 overflow-auto">
        {{project.description}}
      </p>
    </div>
  </div>
</div>

<button class="plus-button d-flex align-items-center justify-content-center position-fixed cursor-pointer"
  (click)="openCreationModal()"
>
  <span class="plus-sign">+</span>
</button>
