.body-padding {
  overflow: auto;
  height: 80%;
  padding: 0 100px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container-absolute {
  top: 170px;
  bottom: 0;
}

.body-padding > last-child {
  margin-left: 100px;
}

.column {
  min-width: 350px;
  max-width: 350px;
  max-height: 100%;
  border-radius: 10px;
  margin-right: 100px;
  background: rgb(70, 70, 70);
  color: #dadada;
  font-size: 24px;
  box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.164);
  cursor: move;
}

.column:last-child {
  margin-right: 0;
}

.list {
  overflow: auto;
  border-radius: 5px;
  min-height: 1px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::ng-deep .body-padding::-webkit-scrollbar { width: 0 !important }
::ng-deep .list::-webkit-scrollbar { width: 0 !important }

.box {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: move;
  background: rgb(94, 93, 93);
  color: #dadada;
  margin-top: 10px;
  font-size: 22px;
  border-radius: 5px;
}

.add {
  cursor: pointer;
  background: transparent;
  border: 1px solid #1b1e21 !important;
  font-weight: bold;
  transition: 0.2s;
}

.add:hover {
  border-color: #999999 !important;
}

.box-input {
  background: transparent;
  border: none;
  outline: none;
  font-size: 22px;
  color: #dadada;
  text-align: center;
  width: 100%;
}

.cdk-drag-preview {
  box-sizing: border-box;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.list .cdk-drag-placeholder {
  background: rgb(65, 65, 65);
  opacity: 0.5;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.box:last-child {
  border: none;
}

.column-add {
  background: transparent;
  box-shadow: none;
  border: 1px solid #999999 !important;
  cursor: pointer;
  transition: 0.2s;
}

.column-add:hover {
  border-color: #1b1e21 !important;
}

.list.cdk-drop-list-dragging .box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.spinner-border {
  width: 8rem;
  height: 8rem;
  color: #FFFF00;
}

.deadline-text {
  font-size: 14px;
  text-align: right;
  padding-right: 10px;
  padding-top: 10px;
  margin-left: auto;
}

.padding-left {
  padding-left: 20px;
}

.padding-left-29 {
  padding-left: 29px;
}

.padding-right {
  padding-right: 9px;
}

.task-check {
  position: absolute;
  margin-left: 270px;
}

::ng-deep .ngx-contextmenu .dropdown-menu {
  background: #555557;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

::ng-deep .ngx-contextmenu a {
  color: #FFFF00;
}

::ng-deep .ngx-contextmenu a:hover {
  color: #282c35;
}

::ng-deep .ngx-contextmenu li {
  margin-top: 3px;
}
