<div class="position-absolute h-100 w-100 container-absolute">
  <div cdkDropList cdkDropListGroup cdkDropListOrientation="horizontal"
       [cdkDropListData]="columns" (cdkDropListDropped)="drop($event)"
       class="container-fluid d-flex align-items-start body-padding"
       [cdkDropListAutoScrollStep]="10" cdkScrollable #container dragScroll [drag-scroll-disable]="['column']">
    <div class="column text-center p-3" *ngFor="let column of columns" cdkDrag cdkScrollable
         [contextMenu]="basicMenu" [contextMenuSubject]="column"
    >
      <h4 class="mt-2 mb-2">{{column.name}}</h4>
      <!--<div class="list" cdkDropList [cdkDropListData]="column.tasks" (cdkDropListDropped)="drop($event)"
           cdkScrollable [cdkDropListAutoScrollStep]="10"
           [ngStyle]="{'max-height': (container.offsetHeight - 150) + 'px'}">
        <div class="box" *ngFor="let task of column.tasks" cdkDrag [contextMenu]="basicMenu"
             [contextMenuSubject]="task">{{task.name}}</div>
      </div>
      <div class="box" *ngIf="creationNewTask && column.index === creationColumnIndex">
        <input class="box-input" type="text" (blur)="creationTaskUnFocus($event)" #input_box>
      </div>
      <div class="box add" (click)="startCreateTask(column)"
           *ngIf="!creationNewTask || column.index !== creationColumnIndex"
      >+
      </div>-->
    </div>
    <div class="column text-center p-3" *ngIf="creationNewColumn">
        <input type="text" class="mt-2 mb-2 box-input" (blur)="creationColumnUnFocus($event)" #input_column>
    </div>
    <div class="column text-center p-3 column-add" (click)="startCreateColumn()"
         *ngIf="!creationNewColumn">
      <h2 class="mt-1 mb-1">+</h2>
    </div>
  </div>
</div>
<context-menu>
  <ng-template contextMenuItem let-item (execute)="delete($event.item)">Delete {{item.name}}</ng-template>
</context-menu>
