<div class="container-fluid p-4">
  <div class="card">
    <form class="card-body d-flex flex-column align-items-center" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="card-title mt-1 mt-sm-3 py-3">Log in to Futurity</div>

      <div class="error-block mt-1 mb-4" *ngIf="loginError">{{loginError}}</div>

      <div class="position-relative mt-2 input-width">
        <input class="terminal-input" type="text" required formControlName="email" id="email">
        <label class="label-input">Email</label>
        <span class="bar"></span>
        <div class="term">></div>
      </div>

      <div class="position-relative input-width">
        <input [type]="passwordType" class="terminal-input" required formControlName="password" id="password">
        <label class="label-input">Password</label>
        <span class="bar"></span>
        <div class="term">></div>

        <span class="error-message"
              *ngIf="loginForm.get('password').touched && loginForm.get('password').invalid &&
              loginForm.get('password').errors['minlength']"
        >
          The password must be more then {{loginForm.get('password').errors['minlength']['requiredLength']}} characters
        </span>


        <label class="b-contain mt-3">
          <span>Show password</span>
          <input type="checkbox" (click)="togglePasswordView()">
          <div class="b-input"></div>
        </label>
      </div>

      <button type="submit" class="btn mx-0 mt-3 mt-sm-4"
              [disabled]="loginForm.invalid || disableLoginButton"
              [ngStyle]="{
                  'pointer-events': loginForm.invalid ? 'none' : 'auto'
                }">
        Login</button>

      <a class="row mt-3 mt-sm-4 auth-text cursor-pointer">Forgot a password?</a>
      <a routerLink="/singup" class="row mt-2 mb-2 auth-text cursor-pointer">Don't have an account? Sing up!</a>
    </form>
  </div>
</div>
