.btn {
  min-width: 120px;
  border-radius: 0;
  margin-right: 10px;
  border-color: #FFFF00;
  color: #FFFF00;
  font-weight: bolder;
  box-shadow: none;
  outline: none;
}

.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}

.btn:hover {
  color: #232129;
  background: #FFFF00;
  transition: .6s;
}
